body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-banner {
  display: flex;
  align-items: center;
  padding: 10px 20px;

  img {
    max-width: 35%;
    min-width: 200px;
  }

  h1 {
    margin: auto 40px;

    @media (max-width: 650px) {
      font-size: 28px;
    }
  }

  @media (max-width: 500px) {
    flex-wrap: wrap;

    img {
      margin: auto;
    }

    h1 {
      margin: 10px auto;
    }
  }
}

.filter-section {
  background: #213521;
  padding: 10px 20px;

  .filter-toggle {
    margin: 0;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;

    svg {
      margin-left: 7px;
      transform: rotate(-180deg);
      transition: all 0.2s linear;
    }
  }

  &[shown="false"] {
    .filter-toggle svg {
      transform: rotate(0deg);
    }

    .filter-dropdown {
      max-height: 0;
      visibility: hidden;
      opacity: 0;
    }
  }

  .filter-dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 200px;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s linear;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0 10px 10px;
  
      li {
        margin: 10px 10px 0;
        
        button {
          cursor: pointer;
          text-transform: capitalize;
          background: #fce1cc;
          color: #213521;
          font-weight: bold;
          border: 2px solid #fce1cc;
          padding: 10px 20px;
          font-size: 20px;
          display: flex;
          align-items: center;
          border-radius: 8px;
          transition: all 0.1s linear;

          &:hover {
            background: #213521;
            border-color: #fff;
            color: #fff;
  
            input:checked {
              border-color: #fff;
            }
          }
  
          input {
            margin: 0 8px 0 0;
            -webkit-appearance: none;
            background-color: #fafafa;
            border: 1px solid #213521;
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
  
            &:checked {
              background-color: #213521;
              border: 1px solid #213521;
              color: #fff;
  
              &:after {
                content: '\2714';
                font-size: 16px;
                position: absolute;
                top: -2px;
                left: 3px;
                color: #fff;
              }
            }
          }

          @media (max-width: 900px) {
            font-size: 16px;

            input {
              padding: 6px;

              &:checked:after {
                font-size: 13px;
                left: 1px;
                top: -3px;
              }
            }
          }
        }
      }
    }
  
    .clear-filters {
      cursor: pointer;
      height: 30px;
      border: 1px solid #fff;
      background: #213521;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      padding: 3px 10px;
      transition: all 0.1s linear;
      min-width: 150px;

      &:focus-visible {
        outline-color: #fff;
      }

      svg {
        margin-right: 4px;
      }

      &:hover {
        background: #fff;
        color: #213521;
      }
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: flex-end;

      ul {
        width: 100%;
      }
    }
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1000px;
  margin: auto;
  justify-content: center;

  .product-card {
    display: none;
    width: 40%;
    border: 1px solid #000;
    border-radius: 8px;
    margin: 20px;
    padding: 30px 20px;

    @media (max-width: 900px) {
      margin: 20px 4px;
    }

    @media (max-width: 600px) {
      width: 80%;
    }
  
    img {
      width: 95%;
      display: block;
      margin: 0 auto;
    }

    .product-title {
      font-weight: bold;
      margin: 20px 0 5px;
    }

    .price-line {
      display: flex;
      font-size: 24px;

      .original-price {
        color: #808080;
        text-decoration: line-through;
        margin: 0 7px 0 0;
      }
  
      .current-price {
        color: #008001;
        font-weight: bold;
        margin: 0;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      margin: 16px 0 2px 0;

      .scent-tag {
        color: #fff;
        margin: 0 5px 14px 0;
        padding: 4px 10px;
        border-radius: 20px;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: 500;

        &[data-scent="woodsy"] {
          background: #165834;
        }
        &[data-scent="fresh"] {
          background: #006fd6;
        }
        &[data-scent="citrus"] {
          background: #de7c00;
        }
        &[data-scent="herbal"] {
          background: #5a3714;
        }
        &[data-scent="rich"] {
          background: #e0a17e;
        }
        &[data-scent="spiced"] {
          background: #c10000;
        }
      }
    }

    .included-section {
      font-size: 18px;

      b {
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  /* filtering */
  &[filter*="woodsy"] .product-card[data-scents*="woodsy"],
  &[filter*="fresh"] .product-card[data-scents*="fresh"],
  &[filter*="citrus"] .product-card[data-scents*="citrus"],
  &[filter*="herbal"] .product-card[data-scents*="herbal"],
  &[filter*="rich"] .product-card[data-scents*="rich"],
  &[filter*="spiced"] .product-card[data-scents*="spiced"] {
    display: block;
  }
}